In [2]:
import pandas as pd

In [9]:
매출자산총계매출채권 = pd.read_excel('/Users/sunhyo/Downloads/매출, 자산총계, 매출채권.xls', skiprows=[0,1,2,3,4])

In [70]:
매출자산총계매출채권.set_index('Unnamed: 2', inplace=True)

In [66]:
매출자산총계매출채권['Unnamed: 2'].drop(0).values

array(['(주)메타바이오메드', '(주)코라', '(주)이건홀딩스', ..., '(주)에스엘씨', '농업회사법인한국양계(주)',
       '(주)우림공업사'], dtype=object)

In [115]:
매출자산총계매출채권.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32324 entries, Name to (주)우림공업사
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     32324 non-null  object
 1   Unnamed: 1     2601 non-null   object
 2   2014/Annual    23828 non-null  object
 3   2015/Annual    25138 non-null  object
 4   2016/Annual    26395 non-null  object
 5   2017/Annual    27640 non-null  object
 6   2018/Annual    28649 non-null  object
 7   2019/Annual    28617 non-null  object
 8   2014/Annual.1  25566 non-null  object
 9   2015/Annual.1  27227 non-null  object
 10  2016/Annual.1  28844 non-null  object
 11  2017/Annual.1  30409 non-null  object
 12  2018/Annual.1  31530 non-null  object
 13  2019/Annual.1  30705 non-null  object
 14  2014/Annual.2  20698 non-null  object
 15  2014/Annual.3  20094 non-null  object
 16  2015/Annual.2  21527 non-null  object
 17  2015/Annual.3  21046 non-null  object
 18  2016/Annual.2  22368 non-null  object
 19  2016/Annual.3  21984 non-null  object
 20  2017/Annual.2  23103 non-null  object
 21  2017/Annual.3  22827 non-null  object
 22  2018/Annual.2  23697 non-null  object
 23  2018/Annual.3  23508 non-null  object
 24  2019/Annual.2  23626 non-null  object
 25  2019/Annual.3  23772 non-null  object
dtypes: object(26)
memory usage: 7.9+ MB

In [91]:
매출자산총계매출채권.columns

Index(['Unnamed: 0', 'Unnamed: 1', '2014/Annual', '2015/Annual', '2016/Annual',
       '2017/Annual', '2018/Annual', '2019/Annual', '2014/Annual.1',
       '2015/Annual.1', '2016/Annual.1', '2017/Annual.1', '2018/Annual.1',
       '2019/Annual.1', '2014/Annual.2', '2014/Annual.3', '2015/Annual.2',
       '2015/Annual.3', '2016/Annual.2', '2016/Annual.3', '2017/Annual.2',
       '2017/Annual.3', '2018/Annual.2', '2018/Annual.3', '2019/Annual.2',
       '2019/Annual.3'],
      dtype='object')

In [108]:
매출 = 매출자산총계매출채권[['2014/Annual', '2015/Annual', '2016/Annual', '2017/Annual', '2018/Annual','2019/Annual']]
매출 = pd.DataFrame(매출.drop('Name').stack(0))
매출.columns=['매출']
매출.reset_index(inplace=True)

In [109]:
매출

        Unnamed: 2      level_1           매출
0       (주)메타바이오메드  2014/Annual  35475661000
1       (주)메타바이오메드  2015/Annual  40585519000
2       (주)메타바이오메드  2016/Annual  41268230000
3       (주)메타바이오메드  2017/Annual  44185868000
4       (주)메타바이오메드  2018/Annual  46872147000
...            ...          ...          ...
160256    (주)우림공업사  2015/Annual    799825000
160257    (주)우림공업사  2016/Annual   1045628000
160258    (주)우림공업사  2017/Annual    306845000
160259    (주)우림공업사  2018/Annual   1754355000
160260    (주)우림공업사  2019/Annual   2330752000

[160261 rows x 3 columns]

In [106]:
자산총계 = 매출자산총계매출채권[['2014/Annual.1', '2015/Annual.1', '2016/Annual.1', '2017/Annual.1', '2018/Annual.1','2019/Annual.1']]
자산총계 = pd.DataFrame(자산총계.drop('Name').stack(0))
자산총계.columns=['자산총계']
자산총계.reset_index(inplace=True)

In [107]:
자산총계

        Unnamed: 2        level_1         자산총계
0       (주)메타바이오메드  2014/Annual.1  78187346000
1       (주)메타바이오메드  2015/Annual.1  78506507000
2       (주)메타바이오메드  2016/Annual.1  84517023000
3       (주)메타바이오메드  2017/Annual.1  85352955000
4       (주)메타바이오메드  2018/Annual.1  92743969000
...            ...            ...          ...
174270    (주)우림공업사  2015/Annual.1    269417000
174271    (주)우림공업사  2016/Annual.1    149445000
174272    (주)우림공업사  2017/Annual.1   6221883000
174273    (주)우림공업사  2018/Annual.1   8427775000
174274    (주)우림공업사  2019/Annual.1   8142773000

[174275 rows x 3 columns]

In [110]:
매출채권1 = 매출자산총계매출채권[['2014/Annual.2', '2015/Annual.2', '2016/Annual.2', '2017/Annual.2', '2018/Annual.2','2019/Annual.2']]
매출채권1 = pd.DataFrame(매출채권1.drop('Name').stack(0))
매출채권1.columns=['매출채권1']
매출채권1.reset_index(inplace=True)

In [111]:
매출채권1

        Unnamed: 2        level_1        매출채권1
0       (주)메타바이오메드  2014/Annual.2  13077736000
1       (주)메타바이오메드  2015/Annual.2  13521996000
2       (주)메타바이오메드  2016/Annual.2  14286668000
3       (주)메타바이오메드  2017/Annual.2  15952673000
4       (주)메타바이오메드  2018/Annual.2  17377250000
...            ...            ...          ...
135008    (주)우림공업사  2015/Annual.2     20398000
135009    (주)우림공업사  2016/Annual.2     25055000
135010    (주)우림공업사  2017/Annual.2     33248000
135011    (주)우림공업사  2018/Annual.2     73562000
135012    (주)우림공업사  2019/Annual.2     76444000

[135013 rows x 3 columns]

In [112]:
매출채권2 = 매출자산총계매출채권[['2014/Annual.3', '2015/Annual.3', '2016/Annual.3', '2017/Annual.3', '2018/Annual.3','2019/Annual.3']]
매출채권2 = pd.DataFrame(매출채권2.drop('Name').stack(0))
매출채권2.columns=['매출채권2']
매출채권2.reset_index(inplace=True)

In [113]:
매출채권2

        Unnamed: 2        level_1        매출채권2
0       (주)메타바이오메드  2014/Annual.3  -3609844000
1       (주)메타바이오메드  2015/Annual.3   -444260000
2       (주)메타바이오메드  2016/Annual.3   -764672000
3       (주)메타바이오메드  2017/Annual.3  -1666005000
4       (주)메타바이오메드  2018/Annual.3  -1424577000
...            ...            ...          ...
133220    (주)우림공업사  2015/Annual.3      5405000
133221    (주)우림공업사  2016/Annual.3     -4657000
133222    (주)우림공업사  2017/Annual.3     -8193000
133223    (주)우림공업사  2018/Annual.3    -40314000
133224    (주)우림공업사  2019/Annual.3     -2882000

[133225 rows x 3 columns]

In [116]:
매자채concat = pd.concat([매출, 자산총계, 매출채권1, 매출채권2], axis=1, )
매자채concat

,Unnamed: 2,level_1,매출,Unnamed: 2,level_1,자산총계,Unnamed: 2,level_1,매출채권1,Unnamed: 2,level_1,매출채권2
0,(주)메타바이오메드,2014/Annual,35475661000,(주)메타바이오메드,2014/Annual.1,78187346000,(주)메타바이오메드,2014/Annual.2,13077736000,(주)메타바이오메드,2014/Annual.3,-3609844000
1,(주)메타바이오메드,2015/Annual,40585519000,(주)메타바이오메드,2015/Annual.1,78506507000,(주)메타바이오메드,2015/Annual.2,13521996000,(주)메타바이오메드,2015/Annual.3,-444260000
2,(주)메타바이오메드,2016/Annual,41268230000,(주)메타바이오메드,2016/Annual.1,84517023000,(주)메타바이오메드,2016/Annual.2,14286668000,(주)메타바이오메드,2016/Annual.3,-764672000
3,(주)메타바이오메드,2017/Annual,44185868000,(주)메타바이오메드,2017/Annual.1,85352955000,(주)메타바이오메드,2017/Annual.2,15952673000,(주)메타바이오메드,2017/Annual.3,-1666005000
4,(주)메타바이오메드,2018/Annual,46872147000,(주)메타바이오메드,2018/Annual.1,92743969000,(주)메타바이오메드,2018/Annual.2,17377250000,(주)메타바이오메드,2018/Annual.3,-1424577000
...,...,...,...,...,...,...,...,...,...,...,...,...
174270,NaN,NaN,NaN,(주)우림공업사,2015/Annual.1,269417000,NaN,NaN,NaN,NaN,NaN,NaN
174271,NaN,NaN,NaN,(주)우림공업사,2016/Annual.1,149445000,NaN,NaN,NaN,NaN,NaN,NaN
174272,NaN,NaN,NaN,(주)우림공업사,2017/Annual.1,6221883000,NaN,NaN,NaN,NaN,NaN,NaN
174273,NaN,NaN,NaN,(주)우림공업사,2018/Annual.1,8427775000,NaN,NaN,NaN,NaN,NaN,NaN
174274,NaN,NaN,NaN,(주)우림공업사,2019/Annual.1,8142773000,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
매출자산총계매출채권.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', '2014/Annual', '2015/Annual',
       '2016/Annual', '2017/Annual', '2018/Annual', '2019/Annual',
       '2014/Annual.1', '2015/Annual.1', '2016/Annual.1', '2017/Annual.1',
       '2018/Annual.1', '2019/Annual.1', '2014/Annual.2', '2014/Annual.3',
       '2015/Annual.2', '2015/Annual.3', '2016/Annual.2', '2016/Annual.3',
       '2017/Annual.2', '2017/Annual.3', '2018/Annual.2', '2018/Annual.3',
       '2019/Annual.2', '2019/Annual.3'],
      dtype='object')

In [20]:
list(매출자산총계매출채권.iloc[0])

['KIS',
 'Stock',
 'Name',
 '매출액/121000',
 '매출액/121000',
 '매출액/121000',
 '매출액/121000',
 '매출액/121000',
 '매출액/121000',
 '자산총계/015000',
 '자산총계/015000',
 '자산총계/015000',
 '자산총계/015000',
 '자산총계/015000',
 '자산총계/015000',
 '매출채권/111150',
 '매출채권/291210',
 '매출채권/111150',
 '매출채권/291210',
 '매출채권/111150',
 '매출채권/291210',
 '매출채권/111150',
 '매출채권/291210',
 '매출채권/111150',
 '매출채권/291210',
 '매출채권/111150',
 '매출채권/291210']

In [23]:
columns = [매출자산총계매출채권.columns[i]+" "+list(매출자산총계매출채권.iloc[0])[i] for i in range(len(매출자산총계매출채권.columns))]
columns

['Unnamed: 0 KIS',
 'Unnamed: 1 Stock',
 'Unnamed: 2 Name',
 '2014/Annual 매출액/121000',
 '2015/Annual 매출액/121000',
 '2016/Annual 매출액/121000',
 '2017/Annual 매출액/121000',
 '2018/Annual 매출액/121000',
 '2019/Annual 매출액/121000',
 '2014/Annual.1 자산총계/015000',
 '2015/Annual.1 자산총계/015000',
 '2016/Annual.1 자산총계/015000',
 '2017/Annual.1 자산총계/015000',
 '2018/Annual.1 자산총계/015000',
 '2019/Annual.1 자산총계/015000',
 '2014/Annual.2 매출채권/111150',
 '2014/Annual.3 매출채권/291210',
 '2015/Annual.2 매출채권/111150',
 '2015/Annual.3 매출채권/291210',
 '2016/Annual.2 매출채권/111150',
 '2016/Annual.3 매출채권/291210',
 '2017/Annual.2 매출채권/111150',
 '2017/Annual.3 매출채권/291210',
 '2018/Annual.2 매출채권/111150',
 '2018/Annual.3 매출채권/291210',
 '2019/Annual.2 매출채권/111150',
 '2019/Annual.3 매출채권/291210']