In [1]:
import pandas as pd

In [9]:
소현신 = pd.read_excel('./소속시장구분_현대표자_신용평점_1대주주명_종업원수.xls', skiprows=[0,1,2,3,4])

In [10]:
소현신['Unnamed: 2'].drop(0).values

array(['(주)메타바이오메드', '(주)코라', '(주)이건홀딩스', ..., '(주)에스엘씨', '농업회사법인한국양계(주)',
       '(주)우림공업사'], dtype=object)

In [11]:
소현신.set_index('Unnamed: 2', inplace=True)

In [15]:
소현신.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 3,2014/Annual,2015/Annual,2016/Annual,2017/Annual,2018/Annual,2019/Annual,Unnamed: 10,2015,2016,2017,2018,2019,2015.1,2016.1,2017.1,2018.1,2019.1
Unnamed: 2,,,,,,,,,,,,,,,,,,,,
Name,KIS,Stock,소속/시장구분/0A0002,종업원수/005000,종업원수/005000,종업원수/005000,종업원수/005000,종업원수/005000,종업원수/005000,현대표자/0A1010,1대주주명(지분)/0A2211,1대주주명(지분)/0A2211,1대주주명(지분)/0A2211,1대주주명(지분)/0A2211,1대주주명(지분)/0A2211,KIS 신용평점/0A3010,KIS 신용평점/0A3010,KIS 신용평점/0A3010,KIS 신용평점/0A3010,KIS 신용평점/0A3010
(주)메타바이오메드,000292,059210,코스닥상장,181,198,191,212,233,242,오석송,오석송(21.92),오석송(21.57),오석송(21.57),오석송(23.49),오석송(23.49),5,6,5,5,5
(주)코라,000366,NaN,외감,36,NaN,38,38,41,28,장상빈,NaN,NaN,NaN,NaN,NaN,7,7,6,7,7
(주)이건홀딩스,000442,039020,코스닥상장,352,347,348,42,55,48,안기명,박승준(20.02),박승준(20.02),박승준(20.02),박승준(29.74),박승준(29.74),8,7,5,4,3
동성인쇄(주),000469,NaN,외감,28,NaN,NaN,NaN,22,NaN,권병서,NaN,NaN,NaN,권병서 및 특수관계자(100.0),NaN,6,8,9,7,5

In [13]:
소현신.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32324 entries, Name to (주)우림공업사
Data columns (total 20 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   32324 non-null  object
 1   Unnamed: 1   2601 non-null   object
 2   Unnamed: 3   32324 non-null  object
 3   2014/Annual  20623 non-null  object
 4   2015/Annual  21119 non-null  object
 5   2016/Annual  22469 non-null  object
 6   2017/Annual  25011 non-null  object
 7   2018/Annual  27267 non-null  object
 8   2019/Annual  28527 non-null  object
 9   Unnamed: 10  32205 non-null  object
 10  2015         15237 non-null  object
 11  2016         17726 non-null  object
 12  2017         19866 non-null  object
 13  2018         22403 non-null  object
 14  2019         4241 non-null   object
 15  2015.1       26576 non-null  object
 16  2016.1       28046 non-null  object
 17  2017.1       29348 non-null  object
 18  2018.1       30166 non-null  object
 19  2019.1       29077 non-null  object
dtypes: object(20)
memory usage: 5.2+ MB

In [14]:
소현신.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 3', '2014/Annual', '2015/Annual',
       '2016/Annual', '2017/Annual', '2018/Annual', '2019/Annual',
       'Unnamed: 10', '2015', '2016', '2017', '2018', '2019', '2015.1',
       '2016.1', '2017.1', '2018.1', '2019.1'],
      dtype='object')

In [145]:
소속시장구분 = 소현신['Unnamed: 3']
소속시장구분 = pd.DataFrame(소속시장구분.drop('Name'))
소속시장구분.columns = ['소속시장구분']
소속시장구분.reset_index(inplace=True)
소속시장구분

          Unnamed: 2 소속시장구분
0         (주)메타바이오메드  코스닥상장
1              (주)코라     외감
2           (주)이건홀딩스  코스닥상장
3            동성인쇄(주)     외감
4            (주)경기색소     외감
...              ...    ...
32318       (주)에이플러스     외감
32319        (주)인터코스    코넥스
32320        (주)에스엘씨     외감
32321  농업회사법인한국양계(주)     외감
32322       (주)우림공업사     외감

[32323 rows x 2 columns]

In [146]:
현대표자 = 소현신['Unnamed: 10']
현대표자 = pd.DataFrame(현대표자.drop('Name'))
현대표자.columns = ['현대표자']
현대표자.reset_index(inplace=True)
현대표자

          Unnamed: 2 현대표자
0         (주)메타바이오메드  오석송
1              (주)코라  장상빈
2           (주)이건홀딩스  안기명
3            동성인쇄(주)  권병서
4            (주)경기색소  황도영
...              ...  ...
32318       (주)에이플러스  유병완
32319        (주)인터코스  김주덕
32320        (주)에스엘씨  김종우
32321  농업회사법인한국양계(주)  김윤호
32322       (주)우림공업사  허기영

[32323 rows x 2 columns]

In [138]:
대주주명지분['level_1'].value_counts()

2018    22402
2017    19865
2016    17725
2015    15236
2019     4240
Name: level_1, dtype: int64

In [152]:
대주주명지분 = 소현신[['2015', '2016', '2017', '2018', '2019']]
대주주명지분 = pd.DataFrame(대주주명지분.drop('Name').stack(dropna=False))
대주주명지분.columns = ['대주주명지분']
대주주명지분.reset_index(inplace=True)
대주주명지분['level_1'] = 대주주명지분['level_1'].map({
    '2015': '2015/Annual',
    '2016': '2016/Annual',
    '2017': '2017/Annual',
    '2018': '2018/Annual',
    '2019': '2019/Annual',
})
대주주명지분

        Unnamed: 2      level_1      대주주명지분
0       (주)메타바이오메드  2015/Annual  오석송(21.92)
1       (주)메타바이오메드  2016/Annual  오석송(21.57)
2       (주)메타바이오메드  2017/Annual  오석송(21.57)
3       (주)메타바이오메드  2018/Annual  오석송(23.49)
4       (주)메타바이오메드  2019/Annual  오석송(23.49)
...            ...          ...         ...
161610    (주)우림공업사  2015/Annual         NaN
161611    (주)우림공업사  2016/Annual         NaN
161612    (주)우림공업사  2017/Annual         NaN
161613    (주)우림공업사  2018/Annual         NaN
161614    (주)우림공업사  2019/Annual         NaN

[161615 rows x 3 columns]

In [79]:
종업원수['level_1'].value_counts()

2019/Annual    28526
2018/Annual    27266
2017/Annual    25010
2016/Annual    22468
2015/Annual    21118
2014/Annual    20622
Name: level_1, dtype: int64

In [151]:
종업원수 = 소현신[['2014/Annual', '2015/Annual', '2016/Annual', 
                   '2017/Annual', '2018/Annual', '2019/Annual']]
종업원수 = pd.DataFrame(종업원수.drop('Name').stack(dropna=False))
종업원수.columns = ['종업원수']
종업원수.reset_index(inplace=True)
종업원수

        Unnamed: 2      level_1 종업원수
0       (주)메타바이오메드  2014/Annual  181
1       (주)메타바이오메드  2015/Annual  198
2       (주)메타바이오메드  2016/Annual  191
3       (주)메타바이오메드  2017/Annual  212
4       (주)메타바이오메드  2018/Annual  233
...            ...          ...  ...
193933    (주)우림공업사  2015/Annual  NaN
193934    (주)우림공업사  2016/Annual    4
193935    (주)우림공업사  2017/Annual  NaN
193936    (주)우림공업사  2018/Annual  NaN
193937    (주)우림공업사  2019/Annual   22

[193938 rows x 3 columns]

In [75]:
신용평점['level_1'].value_counts()

2018.1    30165
2017.1    29347
2019.1    29076
2016.1    28045
2015.1    26575
Name: level_1, dtype: int64

In [153]:
신용평점 = 소현신[['2015.1', '2016.1', '2017.1', '2018.1', '2019.1']]
신용평점 = pd.DataFrame(신용평점.drop('Name').stack(dropna=False))
신용평점.columns = ['신용평점']
신용평점.reset_index(inplace=True)
신용평점['level_1'] = 신용평점['level_1'].map({
    '2015.1': '2015/Annual',
    '2016.1': '2016/Annual',
    '2017.1': '2017/Annual',
    '2018.1': '2018/Annual',
    '2019.1': '2019/Annual',
})  # 2014년도가 없음
신용평점

        Unnamed: 2      level_1 신용평점
0       (주)메타바이오메드  2015/Annual    5
1       (주)메타바이오메드  2016/Annual    6
2       (주)메타바이오메드  2017/Annual    5
3       (주)메타바이오메드  2018/Annual    5
4       (주)메타바이오메드  2019/Annual    5
...            ...          ...  ...
161610    (주)우림공업사  2015/Annual    7
161611    (주)우림공업사  2016/Annual    6
161612    (주)우림공업사  2017/Annual    9
161613    (주)우림공업사  2018/Annual    7
161614    (주)우림공업사  2019/Annual    9

[161615 rows x 3 columns]

In [157]:
종신merge = pd.merge(종업원수, 신용평점, how='left')
종신merge
# 2014년 종업원수쪽에 신용평점 NaN

        Unnamed: 2      level_1 종업원수 신용평점
0       (주)메타바이오메드  2014/Annual  181  NaN
1       (주)메타바이오메드  2015/Annual  198    5
2       (주)메타바이오메드  2016/Annual  191    6
3       (주)메타바이오메드  2017/Annual  212    5
4       (주)메타바이오메드  2018/Annual  233    5
...            ...          ...  ...  ...
206653    (주)우림공업사  2015/Annual  NaN    7
206654    (주)우림공업사  2016/Annual    4    6
206655    (주)우림공업사  2017/Annual  NaN    9
206656    (주)우림공업사  2018/Annual  NaN    7
206657    (주)우림공업사  2019/Annual   22    9

[206658 rows x 4 columns]

In [102]:
종신merge.info()  # NaN값은 신용평점에만 있음

<class 'pandas.core.frame.DataFrame'>
Int64Index: 155144 entries, 0 to 155143
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 2  155144 non-null  object
 1   종업원수        155144 non-null  object
 2   년도          155144 non-null  object
 3   신용평점        130004 non-null  object
dtypes: object(4)
memory usage: 5.9+ MB

In [154]:
주주대표자merge = pd.merge(대주주명지분, 현대표자, how='left')
주주대표자merge

        Unnamed: 2      level_1      대주주명지분 현대표자
0       (주)메타바이오메드  2015/Annual  오석송(21.92)  오석송
1       (주)메타바이오메드  2016/Annual  오석송(21.57)  오석송
2       (주)메타바이오메드  2017/Annual  오석송(21.57)  오석송
3       (주)메타바이오메드  2018/Annual  오석송(23.49)  오석송
4       (주)메타바이오메드  2019/Annual  오석송(23.49)  오석송
...            ...          ...         ...  ...
174330    (주)우림공업사  2015/Annual         NaN  허기영
174331    (주)우림공업사  2016/Annual         NaN  허기영
174332    (주)우림공업사  2017/Annual         NaN  허기영
174333    (주)우림공업사  2018/Annual         NaN  허기영
174334    (주)우림공업사  2019/Annual         NaN  허기영

[174335 rows x 4 columns]